.choresText {
   color: rgb(156, 89, 89);
   font-size: 1vw;
   font-style: italic;
   font-family: 'Courier New', Courier, monospace;
   text-align: center;
}

.choresHeading {
   color: rgb(156, 89, 89);
   font-size: 1.5vw;
   text-align: center;
   text-decoration: underline;
}